.main {
  min-height: 70vh;
}

table {
  width: 100%;
}

th, td {
  text-align: center;
  border: 1px solid #ccc;
  padding: 2rem;
}

.delete {
  background-color: red;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  color: white;
}

.toogle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.toogle-btn>button {
  background-color: rgb(81, 181, 81);
  padding: 1rem;
  width: 30%;
  border: none;
  font-size: 1.5rem;
  color: white;
  border-radius: 2rem;
}

.completed {
  color: rgb(106, 174, 5);
}

.pending {
  color: rgba(129, 129, 38, 0.959);
}

form {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, button {
  margin: 2rem;
  height: 3rem;
  width: 30%;
  font-size: 2rem;
  border: none;  
}

button {
  background-color: blue;
  color: white;
  border-radius: 5rem;
}

input {
  background-color: #f3f0f0;
  border: 2px solid rgb(236, 228, 228);
}

.userinput {
  margin-left: 4rem;
  margin-top: -2rem;
}